@font-face {
    font-family: 'ROG';
    src: url('/public/fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    text-decoration: none;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #020e1e 0%, #000A1D 100%);
    font-family: 'ROG', sans-serif;
    font-size: calc(1em + 0.5vw);
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 5vw;
    user-select: none;
}

.navbar-container-text {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: calc(1rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-bottom: 8px;

}

.navbar-container-logo {
    width: 64px;
    user-select: none;
}

.navbar-container:hover {
    cursor: pointer;
}

/* Main content */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 6em;
    margin-top: 8em;

}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 19px;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 10px;
    width: auto;
    max-width: 13em;
    padding: 0.5em 1em;
    height: 3em;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 0px #001C41);
    color: rgba(255, 255, 255, 0.85);
    font-family: "ROG Fonts", sans-serif;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 2s ease;
    text-align: center;

    user-select: none;
    animation: fadeIn 1s ease forwards;
}

.btn-blue-1 { background: #012555; animation-delay: 0.19s; }
.btn-blue-2 { background: #08274F; animation-delay: 0.2s; }
.btn-blue-3 { background: #144079; animation-delay: 0.3s; }
.btn-blue-4 { background: #052958; animation-delay: 0.49s; }
.btn-blue-5 { background: #032A5C; animation-delay: 0.5s; }
.btn-blue-6 { background: #032551; animation-delay: 0.6s; }
.btn-blue-7 { background: #09418A; animation-delay: 0.79s; }
.btn-blue-8 { background: #06326B; animation-delay: 0.8s; }
.btn-blue-9 { background: #062143; animation-delay: 0.9s; }

.btn:hover {
    filter: brightness(110%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.title-container {
    color: #FFF;
    text-shadow: 0px 4px 1px rgba(255, 255, 255, 0.37);
    font-family: "ROG", sans-serif;
    font-size: calc(1.2rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-container-mobile {
    display: none;
}

.preview-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

/* Call To Action + Footer */

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-top: 8em;
}

.call-to-action-text {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "ROG", sans-serif;
    font-size: calc(1.2rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.call-to-action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.btn-discord {
    background: #5865F2;
    max-width: 18em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.btn-discord:hover {
    cursor: pointer;
}

.btn-github {
    background: #001C41;
    max-width: 20em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-github:hover {
    filter: drop-shadow(0px 4px 0px #001C41);
    cursor: pointer;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 5vw;
    user-select: none;

    margin-top: 8em;
}

/* Media Queries */

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        gap: 4em;
    }

    .title-container {
        display: none;
    }

    .title-container-mobile {
        display: grid;
        font-size: 17px;

        color: #FFF;
        text-shadow: 0px 4px 1px rgba(255, 255, 255, 0.37);
        font-family: "ROG", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .buttons-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .title-container {
        font-size: calc(1.5rem + 0.5vw);
    }

    .preview-image {
        max-width: 400px;
    }

    .call-to-action-text {
        font-size: calc(1.5rem + 0.5vw);
    }

    .call-to-action-buttons {
        flex-direction: column;
        gap: 2em;
    }
}
