@font-face {
    font-family: 'ROG';
    src: url('/public/fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #00152f 0%, #000A1D 100%);
    font-family: 'ROG', sans-serif;
    font-size: calc(1em + 0.5vw);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 5vw;
    user-select: none;
}

.navbar-container-text {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "ROG";
    font-size: calc(1rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-bottom: 8px;

}

.navbar-container-logo {
    width: 64px;
    user-select: none;
}

.navbar-container:hover {
    cursor: pointer;
}

/* Main content */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: calc(4rem + 0.5vw);
    margin-top: 8em;

}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 19px;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 10px;
    width: auto;
    max-width: 13em;
    padding: 0.5em 1em;
    height: 3em;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 0px #001C41);
    color: rgba(255, 255, 255, 0.85);
    font-family: "ROG Fonts", sans-serif;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 2s ease;
    text-align: center;

    user-select: none;
}

.btn-blue-1 { background: #012555; }
.btn-blue-2 { background: #08274F; }
.btn-blue-3 { background: #144079; }
.btn-blue-4 { background: #052958; }
.btn-blue-5 { background: #032A5C; }
.btn-blue-6 { background: #032551; }
.btn-blue-7 { background: #09418A; }
.btn-blue-8 { background: #06326B; }
.btn-blue-9 { background: #062143; }

.btn:hover {
    filter: brightness(110%);
}

.title-container {
    color: #FFF;
    text-shadow: 0px 4px 1px rgba(255, 255, 255, 0.37);
    font-family: "ROG", sans-serif;
    font-size: calc(1.2rem + 0.5vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.preview-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}