@font-face {
    font-family: 'ROG';
    src: url('/public/fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'ROG', sans-serif;
}